body{
    font-family: Calibri, sans-serif;
    font-size: 14px;
    color: grey;
    background: rgb(240, 248, 242);
}

.row {
    min-width: 1140px;
    margin:10px auto;
}

.title {
    text-align: center;
}

.main-content {
    margin: 15px auto;
    border: 1px solid rgba(0, 100, 0, 0.31);
    padding:1em;
    max-width: 30%;
    text-align: center;
}

#stats {
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
}

.item {
    flex: 1 1 auto;
    margin: 0 0.1em;
}

th, td, caption {
    border-bottom: 1px solid #dbdbdb;
}

caption {
    font-weight: bold;
}

th, td, caption {
    padding: 0.6em;
    text-align: center;
}

tr:hover {
    background-color: rgba(140, 246, 149, 0.98);
}

.table {
    border-collapse: collapse;
    margin: 1em auto;
    width: 70%;
}

/*------Navigation Bar--------*/

#wrapper {
    display: none;
}

.topnav {
    display: flex;
    justify-content: space-around;
}

.topnav a {
    float: left;
    display: block;
    color: #075E54;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    font-size: 0.9em;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin:5px;
}

.topnav a:hover {
    background-color: #128C7E;
    color: white;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.topnav input.active {
    background-color: #4CAF50;
    color: white;
}
