body{
    font-family: Calibri, sans-serif;
    font-size: 14px;
    color: grey;
    background: rgb(240, 248, 242);
}

.row {
    min-width: 1140px;
    margin:10px auto;
}

.title {
    text-align: center;
}

.main-content {
    margin: 15px auto;
    border: 1px solid rgba(0, 100, 0, 0.31);
    padding:1em;
    max-width: 30%;
    text-align: center;
}

#stats {
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
}

.item {
    flex: 1 1 auto;
    margin: 0 0.1em;
}

th, td, caption {
    border-bottom: 1px solid #dbdbdb;
}

caption {
    font-weight: bold;
}

th, td, caption {
    padding: 0.6em;
    text-align: center;
}

tr:hover {
    background-color: rgba(140, 246, 149, 0.98);
}

.table {
    border-collapse: collapse;
    margin: 1em auto;
    width: 100%;
}




/*------Navigation Bar--------*/

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #075E54;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin:10px;
}

.topnav a:hover {
    background-color: #128C7E;
    color: white;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.topnav input {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 10px;
    background-color: #25D366;
    margin:10px;
}

.topnav input:hover {
    background-color: #128C7E;
    color: white;
}

.topnav input.active {
    background-color: #4CAF50;
    color: white;
}

/*---------------------Stacked Horizontal Bar Chart CSS----------------------*/


.axis text {
    font: 7px sans-serif;
}
.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.path-line {
    fill: none;
    stroke: yellow;
    stroke-width: 1px;
}
svg {
    background: #ECE5DD;
}

/*
//---------------Whatsapp Colors---------------------
Teal Green
#075E54
#128C7E
Light Green
#25D366
White
#FFFFFF
Outgoing Chat Bubble
#DCF8C6
Checkmark Blue
#34B7F1
Chat Background
#ECE5DD
